# Node
node_modules/
**/node_modules/

# Environment Variables
.env
.env.local
.env.*
*.env
**/.env
**/.env.*

# Secrets
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig*.json
!firebase.json
!firebase-messaging-sw.js

# Build Output
.next/
dist/
out/
build/
.turbo/
